<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!--
 경로 지정시... 
 '\' 문자는 -> '\\'로 사용해야됨
 '/' 는 그대로 '/'로 사용하면 됨
 -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="FILELOG" class="org.apache.log4j.DailyRollingFileAppender">
  	<param name="File"   value="d:/workspace/BokslMusic/log/rolling_log_file.log" />
    <param name="Append" value="false" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
    <layout class="org.apache.log4j.PatternLayout"> 
    	<param name="ConversionPattern" value="%d %-5p [%t] %l | %m%n"/>
    </layout>
	</appender>

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="debug" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
					value="%d %-5p [%t] %l%n                        > %m%n"/>
		</layout>
	</appender>
	
	<!-- 파일 정보 등록, 싱크 관련 로그 -->
	<appender name="SYNC_FILELOG" class="org.apache.log4j.DailyRollingFileAppender">
  	<param name="File"   value="d:/workspace/BokslMusic/log/music_sync.log" />
    <param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
    <layout class="org.apache.log4j.PatternLayout"> 
    	<param name="ConversionPattern" value="%m%n"/>
    </layout>
	</appender>		

  <!-- Level Priority : DEBUG < INFO < WARN < ERROR < FATAL -->
	<category name="com.setvect" additivity="false">
		<priority value ="DEBUG" />
	  <appender-ref ref="FILELOG"/>
	  <appender-ref ref="CONSOLE"/>
	</category>

	<category name="org.hibernate" additivity="false">
	  <priority value ="ERROR" />
	  <appender-ref ref="CONSOLE"/>
	</category>

	<category name="net.sf.ehcache" additivity="false">
	  <priority value ="ERROR" />
	  <appender-ref ref="CONSOLE"/>
	</category>
	
	<category name="org.jaudiotagger" additivity="false">
	  <priority value ="WARN" />
	  <appender-ref ref="CONSOLE"/>
	</category>


	<!-- 검색 정보 로그 -->
	<category name="com.setvect.bokslmusic.log.SyncLogPrinter" additivity="false">
		<priority value ="info" />
	  <appender-ref ref="SYNC_FILELOG"/>
	</category>
	
	<root>
		<priority value ="WARN" />
	  <appender-ref ref="FILELOG"/>
		<appender-ref ref="CONSOLE"/>
  </root>
</log4j:configuration>