@CHARSET "utf-8";

* {margin:0; padding:0; font-family:dotum, gulim, sans-serif; }

/* ========== 외각*/
#warp{
	width: 100%;
}

#contentBody{
	width: 98%;
}

/* ========== 공통 요소 */
.subPannelTitle{
	font-weight: bold;
}

.spliteHorizontal > tbody > tr > td{
	border:2px solid #c7dafa;
}

.logContent{
	font-family:dotumche;
	/* white-space: nowrap;*/
}


/* ========== 동기화 */
#syncPannel .spliteHorizontal{
	border:2px solid #c7dafa;
	width: 100%;
}

/*IE에서 지원 안됨*/
#syncPannel .spliteHorizontal > tbody > tr > td:nth-child(1){
	width: 450px;
}

#syncPannel .spliteHorizontal > tbody > tr > td > table{
	width: 100%;
}

#syncPannel .log{
	width: 100%;
}

#syncPannel .log .subPannelHeader{
	width: 100%;  
}

/*IE에서 지원 안됨*/
#syncPannel .log .subPannelHeader td:nth-last-child(1){
	text-align: right;
}

#syncPannel .log .scroll{
	height: 147px;
	background-color: #EAEAEA;
}

/* ========== 재생 */
#playPannel .spliteHorizontal{
	border:2px solid #c7dafa;
	width: 100%;
}

#playPannel .spliteHorizontal > tbody > tr > td{
	width: 33%;
}

#playPannel .spliteHorizontal > tbody > tr > td > table{
	width: 100%;
}

#playPannel .lyric{
	width: 100%;  
}

#playPannel .scroll{
	height: 170px;
	background-color: #EAEAEA;
}

/* ========== 목록 */
#listPannel .spliteHorizontal{
	border:2px solid #c7dafa;
	width: 100%;
}

#listPannel .spliteHorizontal > tbody > tr > td:nth-child(2){
	width: 10px;
}

#listPannel .spliteHorizontal > tbody > tr > td > table{
	width: 100%;
}
